<mat-toolbar color="primary" fxLayout="row column" fxLayoutAlign="space-between center">
    <div fxlayout="row" fxLayoutAlign="start center" fxLayoutGap="1vw">
            <img src="/assets/Ames_High_School_Logo.png" alt="" class="mylogo">
            <h1>High School Reunion Registration Form</h1>
    </div>
    <div>
        <button mat-icon-button>
            <mat-icon>favorite</mat-icon>
        </button>
    </div>
</mat-toolbar>


<br>
<form #rsvpform="ngForm" (ngSubmit)="processForm(rsvpform)" fxLayout="column row" fxLayoutGap="3wh">

    <mat-form-field class="inputclass">
        <input matInput type="text" id="name" name="name" 
            ngModel required #nameField="ngModel"
            placeholder="Please enter your name">
    </mat-form-field>

    <mat-form-field class="inputclass">
        <input matInput type="number" step="1" min="0" max="3" id="guestNum" name="guest" 
            ngModel
            placeholder="Number of Guests">
    </mat-form-field>

    <mat-form-field class="inputclass">
        <input matInput type="text" id="phone" name="phone" 
        ngModel required
        placeholder="Enter Phone Num">
    </mat-form-field>

    <mat-form-field class="inputclass">
        <input matInput [matDatepicker]="picker" 
            name="attendingDay" id="attendingDay"
            ngModel required
            placeholder="Choose a date of attending" >
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>

    </mat-form-field>

    
    <label for="vegetarian">Vegetarian: </label>
    <mat-radio-group fxLayout="row column" fxLayoutAlign = "space-around" fxLayoutGap="3wh" 
     aria-label="Select an option">
            <mat-radio-button value="yes">Yes</mat-radio-button>
            <mat-radio-button value="no">No</mat-radio-button> 
    </mat-radio-group>     
    <br>
    <label for="foodAllergies">Food Allergies:</label>
    <section fxLayout="row column" fxLayoutAlign = "space-around" class="allergiesClass">
        <mat-checkbox name="allergies-seafood" ngModel>Seafood</mat-checkbox>
        <mat-checkbox name="allergies-nut" ngModel>Nut</mat-checkbox>
        <mat-checkbox name="allergies-dairy" ngModel>Dairy</mat-checkbox>          
    </section>

    <br>
    <!--<label for="comments">Comments or Questions:</label><br> -->
    <mat-form-field class="inputclass">      
        <textarea matInput textarea name="comments" id="comments"
        ngModel #commentField="ngModel"
        placeholder="Leave a comment"></textarea>
    </mat-form-field>

    <div fxLayout="row column" fxLayoutAlign = "space-around">
        <button mat-raised-button type='reset' color="warn"> 
                <mat-icon>clear</mat-icon>    Clear 
            </button>
            <button mat-raised-button type="submit" color="primary"> Register </button>
    </div>
</form>