<h1>High School Reunion Registration Form</h1>
<br>
<form #rsvpForm="ngForm" (ngSubmit)="processForm(rsvpForm)">
  <label for="name">Name</label><br>
  <input type="text" id="f_name" name="First" ngModel> 
  <input type="text" id="l_name" name="Last" ngModel>
  <br>
  <label for="name">First</label>
  <label for="name">Last</label>
  <br>
  <br>
  <label for="SpouseGuestname">Spouse or Guest Name</label><br>
  <input type="text" id="sgf_name" name="First" ngModel> 
  <input type="text" id="sgl_name" name="Last" ngModel>
  <br>
  <label for="sgf_name">First</label>
  <label for="sgl_name">Last</label>
  <br>
  <br>
  <label for="phone">Phone Number</label><br>
  <input type="text" id="text1" name="text1" ngModel>
  <span>-</span> 
  <input type="text" id="text2" name="text2" ngModel>
  <span>-</span> 
  <input type="text" id="text3" name="text3"> ngModel
  <br>
  <label for="phoneText1">###</label>
  <label for="phoneText2">###</label>
  <label for="phoneText3">####</label>
  <br>
  <br>
  <label for="email">Email *</label><br>
  <input type="email" id="emailId" name="emailId" ngModel>
  <br>
  <br>
  <label for="attending">Which events will you be attending?</label><br>
  <input type='radio' id='attendingFri'   name='attending' value="Friday night cookout" ngModel> Friday night cookout<br>
  <input type='radio' id='attendingSatBF' name='attending' value="Saturday breakfast" ngModel> Saturday breakfast<br>
  <input type='radio' id='attendingSatL'  name='attending' value="Saturday lunch" ngModel> Saturday lunch<br>
  <input type='radio' id='attendingSatD'  name='attending' value="Saturday formal dinner" ngModel> Saturday formal dinner<br>
  <br>
  <label for="dvd">Would you like to pre-order a reunion DVD ($19.95)?</label><br>
  <input type='radio' id='dvd' name='dvdYes' value="Yes" ngModel> Yes<br>
  <input type='radio' id='dvd' name='dvdNo'  value="No" ngModel> No<br>

  <br>
  <label for="comments">Comments or Questions</label><br>
  <textarea name="comments" id="comments" cols="30" rows="10" ngModel></textarea>
  <br>
  <button type="submit"> Submit </button>
</form>